@import "tailwindcss";

:root {
  --background: #1E1E1E;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: #1E1E1E;
  background-image: url('/background-gradient.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--foreground);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

html {
  background-color: #1E1E1E;
}
